.notice-container {
  display: flex;
  flex-direction: column;
  padding-inline: max(20px, 6vw);
  padding-block: 1.6em 2.4em;
}

.notice-container h1 {
  margin-inline: auto;
  margin-bottom: 0.3em;
  color: #823d1b;
  font-size: 2em;
}

.notice-container .notices {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notice-container .notices article {
  border: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  overflow: hidden;
}

.notice-container .notices article .imgs {
  width: 34%;
}

.notice-container .notices article .imgs .imgBx {
  padding-top: clamp(180px, 80%, 200px);
  position: relative;
}

.notice-container .notices article .imgs .imgBx img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  cursor: pointer;
}

.notice-container .notices article .des {
  width: 66%;
  padding: 0.8em 1em;
  display: flex;
  flex-direction: column;
}

.notice-container .notices article .des h2,
.notice-container .notices article .des p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.notice-container .notices article .des h2 {
  cursor: pointer;
  font-size: 1.3em;
  color: #353e2d;
  line-height: 1.25;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin-bottom: 0.3em;
}

.notice-container .notices article .des h2:hover {
  text-decoration: underline;
}

.notice-container .notices article .des p {
  color: #111;
  margin-block: auto;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.notice-container .notices article .des span {
  margin-top: auto;
  color: #555;
}

@media (max-width: 900px) {
  .notice-container .notices {
    width: clamp(300px, 80%, 400px);
  }

  .notice-container .notices article {
    flex-direction: column;
  }

  .notice-container .notices article > div {
    width: 100% !important;
  }

  .notice-container .notices article .des span {
    margin-top: .7em;
  }
}

@media (max-width: 450px) {
  .notice-container h1 {
     font-size: 1.6em;
  }

  .notice-container .notices {
    width: 86%;
  }
}
