.products {
  background: #e1d6ae;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.products h1.products-h1 {
  margin: 1em auto;
  font-size: 2.5em;
  text-align: center;
  color: #a11c1c;
}

.products h1.products-h1::before {
  background: #a11c1c;
}

.products .products-go {
  font-size: 1.5em;
  margin-top: 1.6em;
  width: 90%;
  margin-inline: auto;
  color: #b71fb7;
  text-align: center;
  line-height: 1.8;
}

.products .products-go a {
  background: chocolate;
  color: #ddd;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.1em 0.4em;
  white-space: nowrap;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 70%);
}

.products .products-go a:hover {
  background: coral;
}

@media (max-width: 450px) {
  .products h1.products-h1 {
    font-size: 2em;
  }

  .products .products-go {
    font-size: 1.15em;
  }
}
